<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <%= stylesheet_link_tag 'orders.css' %>
</head>

<body>

    <h1 class="heading">Orders</h1>

    <div class="table_container">
        <div class="grid_item">
            <h2>PRODUCT</h2>
            <h2>DETAIL</h2>
            <h2>PRICE</h2>
        </div>

        <% @items.each do |item| %>
        <div class="grid_item">
            <div class="product_image"></div>
            <div class="detail">
                <h1><%= item.name %></h1>
                <p><span>QTY: </span><%= item.itemcount %></p>
            </div>
            <p>$ <%= item.price %></p>
        </div>
        <% end %>

    </div>

</body>

</html>