<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Doe</title>
    <%= stylesheet_link_tag 'profile.css' %>
    <%# <link rel="stylesheet" href="../css/profile.css"> %>
    <!-- <link rel="stylesheet" href="../css/profile_mobile.css">
    <link rel="stylesheet" href="../css/profile_tablet.css">
    <link rel="stylesheet" href="../css/profile_desktop.css"> -->
</head>

<body>
    <div class="image_container">
        <div class="profile_image"></div>
        <h1 class="username">John Doe</h1>
    </div>

    <div class="info_container">
        <span>Email : </span>
        <p>johndoe@gmail.com</p>

        <span>Phone : </span>
        <p>9087654321</p>

        <span>Address : </span>
        <p>Qui delectus rerum non tenetur quas est dolores quam qui dolores beatae aut eius similique ea eveniet nostrum
        </p>

        <span>D.O.B. : </span>
        <p>27 May, 1990</p>
    </div>

    <div class="options_container">
        <a href="addproduct.html">List Product</a>
        <a href="listings.html">Listings</a>
        <a href="orders.html">Orders</a>
    </div>
</body>


</html>