<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Search</title>
    <%= stylesheet_link_tag 'search.css' %>
    <%# <link rel="stylesheet" href="../css/search.css"> %>
    <!-- <link rel="stylesheet" href="../css/search_mobile.css">
    <link rel="stylesheet" href="../css/search_tablet.css">
    <link rel="stylesheet" href="../css/search_desktop.css"> -->
</head>

<body>
    <div class="container">
        <div class="container_bg">
            <h1>Search by..</h1>

            <div class="search_form">
                <!-- <form action="" method="get"> -->
                <p>Product Name:</p>
                <input type="text" id="name">

                <p>Price range:</p>
                <div class="price_range">
                    <input type="number" id="lowerRange">
                    <p>to</p>
                    <input type="number" id="upperRange">
                </div>

                <p>Category:</p>
                <input type="text" id="category">

                <p>Brand:</p>
                <input type="text" id="brand">
                <!-- </form> -->
            </div>

            <div class="search_button" id="searchButton">
                <img src="/assets/search.svg" alt="">
            </div>
        </div>
    </div>

    <div class="items" id="items">
    </div>

    <%= javascript_include_tag 'search' %>
</body>

</html>