<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Search</title>
    <%= stylesheet_link_tag 'search.css' %>
    <%# <link rel="stylesheet" href="../css/search.css"> %>
    <!-- <link rel="stylesheet" href="../css/search_mobile.css">
    <link rel="stylesheet" href="../css/search_tablet.css">
    <link rel="stylesheet" href="../css/search_desktop.css"> -->
</head>

<body>
    <div class="container">
        <div class="container_bg">
            <h1>Search by..</h1>

            <div class="search_form">
                <!-- <form action="" method="get"> -->
                <p>Product Name:</p>
                <input type="text">

                <p>Price range:</p>
                <div class="price_range">
                    <input type="number">
                    <p>to</p>
                    <input type="number">
                </div>

                <p>Category:</p>
                <input type="text">

                <p>Location:</p>
                <input type="text">
                <!-- </form> -->
            </div>

            <div class="search_button">
                <img src="/assets/search.svg" alt="">
            </div>
        </div>
    </div>

    <div class="item_container">
        <div class="product_image" style="background: url('/assets/product1\(Nike\ Dunk\ Low\).webp');"></div>
        <div class="info_container">
            <p class="product_name">Nike Dunk Low</p>
            <p class="product_price">$200</p>
            <div class="ratings">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star.svg" alt="⚝">
                <img src="/assets/star.svg" alt="⚝">
            </div>
        </div>
        <img src="/assets/add_cart.svg" alt="">
    </div>

    <div class="item_container">
        <div class="product_image" style="background: url('/assets/product1\(Nike\ Dunk\ Low\).webp');"></div>
        <div class="info_container">
            <p class="product_name">Nike Dunk Low</p>
            <p class="product_price">$200</p>
            <div class="ratings">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star.svg" alt="⚝">
                <img src="/assets/star.svg" alt="⚝">
            </div>
        </div>
        <img src="/assets/add_cart.svg" alt="">
    </div>

    <div class="item_container">
        <div class="product_image" style="background: url('/assets/product1\(Nike\ Dunk\ Low\).webp');"></div>
        <div class="info_container">
            <p class="product_name">Nike Dunk Low</p>
            <p class="product_price">$200</p>
            <div class="ratings">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star.svg" alt="⚝">
                <img src="/assets/star.svg" alt="⚝">
            </div>
        </div>
        <img src="/assets/add_cart.svg" alt="">
    </div>

    <div class="item_container">
        <div class="product_image" style="background: url('/assets/product1\(Nike\ Dunk\ Low\).webp');"></div>
        <div class="info_container">
            <p class="product_name">Nike Dunk Low</p>
            <p class="product_price">$200</p>
            <div class="ratings">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star.svg" alt="⚝">
                <img src="/assets/star.svg" alt="⚝">
            </div>
        </div>
        <img src="/assets/add_cart.svg" alt="">
    </div>

    <div class="item_container">
        <div class="product_image" style="background: url('/assets/product1\(Nike\ Dunk\ Low\).webp');"></div>
        <div class="info_container">
            <p class="product_name">Nike Dunk Low</p>
            <p class="product_price">$200</p>
            <div class="ratings">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star.svg" alt="⚝">
                <img src="/assets/star.svg" alt="⚝">
            </div>
        </div>
        <img src="/assets/add_cart.svg" alt="">
    </div>

    <div class="item_container">
        <div class="product_image" style="background: url('/assets/product1\(Nike\ Dunk\ Low\).webp');"></div>
        <div class="info_container">
            <p class="product_name">Nike Dunk Low</p>
            <p class="product_price">$200</p>
            <div class="ratings">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star.svg" alt="⚝">
                <img src="/assets/star.svg" alt="⚝">
            </div>
        </div>
        <img src="/assets/add_cart.svg" alt="">
    </div>

    <div class="item_container">
        <div class="product_image" style="background: url('/assets/product1\(Nike\ Dunk\ Low\).webp');"></div>
        <div class="info_container">
            <p class="product_name">Nike Dunk Low</p>
            <p class="product_price">$200</p>
            <div class="ratings">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star.svg" alt="⚝">
                <img src="/assets/star.svg" alt="⚝">
            </div>
        </div>
        <img src="/assets/add_cart.svg" alt="">
    </div>

    <div class="item_container">
        <div class="product_image" style="background: url('/assets/product1\(Nike\ Dunk\ Low\).webp');"></div>
        <div class="info_container">
            <p class="product_name">Nike Dunk Low</p>
            <p class="product_price">$200</p>
            <div class="ratings">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star.svg" alt="⚝">
                <img src="/assets/star.svg" alt="⚝">
            </div>
        </div>
        <img src="/assets/add_cart.svg" alt="">
    </div>

    <div class="item_container">
        <div class="product_image" style="background: url('/assets/product1\(Nike\ Dunk\ Low\).webp');"></div>
        <div class="info_container">
            <p class="product_name">Nike Dunk Low</p>
            <p class="product_price">$200</p>
            <div class="ratings">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star_solid.svg" alt="⭐">
                <img src="/assets/star.svg" alt="⚝">
                <img src="/assets/star.svg" alt="⚝">
            </div>
        </div>
        <img src="/assets/add_cart.svg" alt="">
    </div>

</body>

</html>