body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: #dbe5eb;
}

@font-face {
  font-family: MyCustomFont;
  src: url("/assets/Pacifico-Regular.ttf");
}

.container {
  height: -moz-fit-content;
  height: fit-content;
  background: url("/assets/bg.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.container .container_bg {
  padding: 20px;
  background: rgba(219, 229, 235, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.container h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 40px;
  font-family: MyCustomFont, Helvetica, sans-serif;
  color: #2c4c60;
}

.container .search_form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.container .search_form p {
  margin: auto 0;
  font-size: medium;
  color: #2c4c60;
}

.container .search_form input {
  border: #fff 1px solid;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  color: #2c4c60;
  font-size: medium;
}

.container .search_form input:focus {
  border: #2c4c60 1px solid;
}

.container .search_form .price_range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container .search_form .price_range p {
  margin: auto;
}

.container .search_button {
  margin-top: 20px;
  margin-left: auto;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #2c4c60;
}

.container .search_button:active {
  background: #567080;
}

.sortfields {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.sortfields div {
  margin: auto;
}

.sortfields p,
.sortfields label {
  margin: 0;
  font-size: medium;
  color: #2c4c60;
}

.item_container {
  margin: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  gap: 10px;
}

.item_container .product_image {
  height: 120px;
  width: 120px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 15px;
}

.item_container .info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.item_container .info_container p {
  margin: 0;
}

.item_container .info_container .product_name {
  font-weight: bolder;
  color: #343434;
}

.item_container .info_container .product_price {
  color: #2c4c60;
}

.item_container .info_container .ratings img {
  height: 20px;
}

.item_container img {
  height: 30px;
  margin: auto;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container h1 {
    font-size: 3rem;
  }

  .container p,
  .container label {
    font-size: 1.6rem !important;
  }

  .container_bg {
    padding-right: 15% !important;
    padding-left: 15% !important;
  }

  .item_container {
    margin-right: 15% !important;
    margin-left: 15% !important;
  }

  .item_container p {
    font-size: 1.4rem;
  }

  .item_container .product_image {
    height: 180px;
    width: 180px;
  }
}

@media (min-width: 1025px) {
  .container_bg {
    padding-right: 25% !important;
    padding-left: 25% !important;
  }

  .item_container {
    margin-right: 25% !important;
    margin-left: 25% !important;
  }
}

/*# sourceMappingURL=search.css.map */